.topics
  .pull-right
    = link_to "Create a Topic", new_topic_path, class: 'btn btn-primary'

  %h1 Topics

  .pull-right
    %a.btn.btn-link{href: topics_path(order_by: :name, direction: :ascending)} Sort by Name
    %a.btn.btn-link{href: topics_path(order_by: :popularity, direction: :descending)} Sort by Popularity

  .clearfix

  %ul.list-group
    - @topics.each do |topic|
      %li.list-group-item
        .badge= pluralize(topic.students.size, 'Student')
        .badge= pluralize(topic.teachers.size, 'Teacher')
        = link_to topic.name, topic
  = link_to "Create a Topic", new_topic_path, class: 'btn btn-lg btn-block btn-primary'