%h1= @topic.name

= form_tag(add_teacher_topic_path(@topic.id), class: "navbar-form") do |form|
  %button.btn.btn-default{type: "submit"} I can teach this!

= form_tag(add_student_topic_path(@topic.id), class: "navbar-form") do |form|
  %button.btn.btn-default{type: "submit"} I want to learn this!

%h2 Teachers:
= render partial: 'people', locals: { people: @topic.teachers }

%h2 Students:
= render partial: 'people', locals: { people: @topic.students }