.topics
  .row
    .col-xs-12
      %h1= @topic.name
      = link_to 'Back', topics_path

  .row
    .col-xs-6
      %h2 Teachers
      -if current_user and @topic.teachers.include? current_user
        = form_tag(remove_teacher_topic_path(@topic.id)) do |form|
          %button.btn.btn-lg.btn-block.btn-secondary{type: "submit"} Stop Volunteering
      -else
        = form_tag(add_teacher_topic_path(@topic.id)) do |form|
          %button.btn.btn-lg.btn-block.btn-primary{type: "submit"} Volunteer
      = render partial: 'application/people', locals: { people: @topic.teachers }
    .col-xs-6
      %h2 Students
      -if current_user and @topic.students.include? current_user
        = form_tag(remove_student_topic_path(@topic.id)) do |form|
          %button.btn.btn-lg.btn-block.btn-secondary{type: "submit"} Unenroll
      -else
        = form_tag(add_student_topic_path(@topic.id)) do |form|
          %button.btn.btn-lg.btn-block.btn-primary{type: "submit"} Enroll
      = render partial: 'application/people', locals: { people: @topic.students }