%h1= @topic.name

= form_tag(add_teacher_topic_path(@topic.id), class: "navbar-form") do |form|
  %button.btn.btn-default{type: "submit"} I can teach this!

= form_tag(add_student_topic_path(@topic.id), class: "navbar-form") do |form|
  %button.btn.btn-default{type: "submit"} I want to learn this!


%h2 Teachers:
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
    %tbody.text-left
      - @topic.teachers.each do |teacher|
        %tr
          %td= teacher.name
          %td= teacher.email

%h2 Students:
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
    %tbody.text-left
      - @topic.students.each do |student|
        %tr
          %td= student.name
          %td= student.email