.topics
  .row
    .col-xs-12
      .pull-right
        -if current_user? @topic.owner
          = link_to 'Edit', edit_topic_path(@topic), class: 'btn btn-default'
      %a.btn.btn-default{ href: topics_path } Back to topics

  .row
    .col-xs-12
      %h1
        = @topic.name
        %small
          -if @topic.owner
            by
            %a.hidden-link{href: user_path(@topic.owner)}= @topic.owner.display_name
      %p= simple_format(@topic.description)

  .row.topic-actions
    .col-sm-6.col-xs-12
      %teach-button{ params: '{ collectionName: "Teacher", collection: teachers, joinFunction: teach, leaveFunction: stopTeaching }' }
    .col-sm-6.col-xs-12
      %learn-button{ params: '{ collectionName: "Student", collection: students, joinFunction: learn, leaveFunction: stopLearning }' }

  .row
    .col-xs-12
      %h2 
        Members
        %small{ 'data-bind': 'text: "(" + memberCount() + ")"' }
        %a.btn.btn-sm.btn-default{ 'data-bind': 'click: toggleMembersVisible, text: (membersVisible() ? "Hide Members" : "Show Members")' }

      .row{'data-bind': 'visible: membersVisible'}
        .col-sm-6.col-xs-12
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                Teachers
                %small{ 'data-bind': 'text: "(" + teachers().length + ")"' }
            .panel-body
              .row
                .col-xs-12.loadmaskable
                  %div{ 'data-bind': 'if: teachers.isUpdating' }
                    .loadmask
                      %p.loadmask-message Updating...
                  %div{ 'data-bind': 'with: teachers' }
                    = render partial: 'users/user_list'
            
        .col-sm-6.col-xs-12
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                Students
                %small{ 'data-bind': 'text: "(" + students().length + ")"' }
            .panel-body
              .row
                .col-xs-12.loadmaskable
                  %div{ 'data-bind': 'if: students.isUpdating' }
                    .loadmask
                      %p.loadmask-message Updating...
                  %div{ 'data-bind': 'with: students' }
                    = render partial: 'users/user_list'

  .row
    .col-xs-12
      %h2 
        Comments
        %small{ 'data-bind': 'text: "(" + comments().length + ")"' }
      .row
        .form-group.col-xs-12
          %label.control-label{for: 'comment-body'} Comment
          %textarea.form-control{id: 'comment-body', 'data-bind': 'textInput: newComment.body'}
        .form-group.col-sm-3.col-sm-offset-9.col-xs-4.col-xs-offset-8
          = label_tag 'email-comment-to-members', 'Email this comment to members'
          = check_box_tag 'email-comment-to-members'
          %button.btn.btn-block.btn-primary{ 'data-bind': 'click: createComment' } Submit

      .panel.panel-default
        .panel-body
          .row
            .col-xs-12.loadmaskable
              %div{ 'data-bind': 'if: comments.isUpdating' }
                .loadmask
                  %p.loadmask-message Updating...
              %div{ 'data-bind': 'with: comments' }
                = render partial: 'comments/comment_list'

:javascript
  var model = new TopicViewModel(#{topic_json(@topic).to_json});
  ko.applyBindings(model);