.auth
  .navbar-right
    - user = current_user
    - if user
      .navbar-text
        Welcome, 
        = link_to "#{user.name || user.email}!", edit_user_path(user)
      .navbar-text
        %span Not #{user.name || user.email}?
        = link_to "Get a new sign in email", destroy_sessions_path, class: 'secondary'
    - else
      = form_tag(sessions_path, class: 'navbar-form') do
        .form-group
          = label_tag('Send a sign in link to')
          = email_field_tag(:email, nil, class: 'form-control', placeholder: "me@#{Rails.application.config.user_email_domain}")
        %button.btn.btn-default{type: 'submit'} Go!