.navbar-right
  - user = current_user
  - if user
    = form_tag(:logout, class: 'navbar-form') do
      .form-group
        %p.form-control-static= 'Signed in as ' + (user.name or user.email)
        %button.btn.btn-default{type: 'submit'} Logout
  - else
    = form_tag(:login, class: 'navbar-form') do
      .form-group
        = label_tag(:email)
        = email_field_tag(:email, nil, class: 'form-control')
      %button.btn.btn-default{type: 'submit'} Log in