- if current_user
  .navbar-right
    = form_tag(:logout, class: "navbar-form") do |form|
      %p.form-control-static= "Signed in as " + current_user.name
      %button.btn.btn-default{type: "submit"} Logout
- else
  = form_for :user, url: :login do |form|
    %p
      = form.label(:name)
      = form.text_field(:name)
      = form.label(:email)
      = form.email_field(:email)
      = form.submit