!!!
%html
%head
  %title
    SoClassy
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container-fluid
      = render 'auth'
  .container
    .row
      .col-xs-6.col-xs-offset-3.text-center
        = yield