!!!
%html
%head
  %title
    SoClassy
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

%body
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: (url_for topics_path) }
          SoClassy
      = render 'auth'
  .container
    = render 'flash_messages'

    - user = current_user
    - if user and not user.name
      .alert.alert-warning.text-center
        .strong You haven't set your name!
        
        = form_for user, url: user_path(user), html: { method: "patch", class: 'form-inline' } do |form|
          .form-group
            = form.label(:name, 'My name is')
            = form.text_field(:name, class: 'form-control')
          %button.btn.btn-default{type: 'submit'} Update
          
    = yield